<h1> Welcome to UWSUBE</h1>
<a href="../navbar.html.erb" />
<form>
  <%= text_field(:search, nil) %>
</form>
<body>
<table>
  <h3> Our latest entries </h3>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Description</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.title %></td>
    <td><%=h book.author %></td>
    <td><%=h book.isbn %></td>
    <td><%=h book.description %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<body>
