<h1>Books </h1>


<h3 style="margin: 0px 0px 50px 0px;"> Our latest entries </h3>
<div id="content" >
  <table class="search">

    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Price</th>
    </tr>


    <% for book in @books %>
      <tr>
        <td> <%= link_to book.title, book %> </td>
        <td><%=h book.author %></td>
        <td><%=h book.isbn %></td>
        <td><%=h book.price %>
      <% end %>
    </table>
    <%= link_to 'New', new_book_path %> 
  </div>
