<h1>Search Results - Books </h1>
<body>
  <form>
    <%= text_field(:search, nil, :value => "Search") %>
  </form>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Description</th>
      <th>User ID</th>
    </tr>

    <% for book in @books %>
      <tr>
        <td><%=h book.title %></td>
        <td><%=h book.author %></td>
        <td><%=h book.isbn %></td>
        <td><%=h book.description %></td>
        <td> <%=h book.user_id  %> </td>
        <td><%= link_to 'Show', book %></td>

        <% unless current_user.nil? or current_user.id != book.user_id %>
          <td>
            <%= link_to 'Edit', edit_book_path(book) %>
          </td>
          <td>
            <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete  %>
          </td>
        <% end %>
    </tr>
  <% end %>
</table>
</div>
</body>
<br />

<%= link_to 'New book', new_book_path%> 
