<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag 'base' %>
    <title>UWSUBE: UW Student Underground Book Exchange</title>
  </head>
  <body>


    <div id="container">

      <%= render :partial => "common/navbar"  %>


      <div id="subnav">
        <ul> 
          <li style="float:right;"><%= link_to_unless(current_user.nil?, 'Logout', { :controller => logout_path})  do link_to('Login/Sign Up', { :controller => login_path }) end %> </li>
          <li> <a href"">filler</a></li>
        </ul>
        <br />
      </div>


      <%= render :partial=> "common/search" %>

      <p style="color: green"><%= flash[:notice] %></p>

      <%= yield  %>

    </body>
  </html>
