<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>UWSUBE: UW Student Underground Book Exchange</title>
  <%= stylesheet_link_tag 'base' %>
</head>
<body>

<div id="navbar">
<ul id="navbar">
  <li> <%= link_to 'Books', books_path %>  </li>
  <li><%=  link_to 'My books', books_path + '?uid[]=' + current_user.id.to_s unless current_user.nil?  %>
  <li><%= link_to 'Login', login_path %>
  <li><%= link_to 'Sign up', signup_path %>
</ul>
</div>



<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
